@import './base.css';

body {
  background-color: #e5e7eb;
}

#app {
  min-height: 100vh;
  font-weight: normal;
}

a {
  color: inherit;
}

* {
  transition: color 0.2s ease, background-color 0.2s ease;
}
